@(widgets: Seq[Widget], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("App") {

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div class="alert alert-primary" role="alert">@value</div>
    }

    <h1 class="mt-5">Site titles</h1>

    <table class="table table-striped mt-5">
      <thead>
        <tr><th scope="col">Title(s)</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.url</td></tr>
      }
      </tbody>
    </table>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("url"), 'class -> "form-control", 'placeholder -> "Enter url to fetch site title")

      <button type="submit" class="btn btn-primary">Retrieve title for url</button>
      <a href="@controllers.routes.WidgetController.clearList">
        <button type="button" class="btn btn-secondary">Clear List</button>
      </a>
    }
  }
